<!-- Overlay to display the loading indicator -->    
<div id="overlay" ng-show="$parent.data.loading"><i id="ajax-loader" class="fa fa-3x fa-spinner fa-spin"></i></div>
<h3>Contact Details</h3>
<h5 ng-show="$parent.data.message" class="text-center sample-show-hide">{{$parent.data.message}}</h5>
<form name="contactForm" novalidate class="css-form" role="form">
	<fieldset>
		<div class="row">
			<div class="form-group col-sm-12 col-md-3">
				<label for="email">Email address</label>
				<input type="email" class="form-control" id="email" ng-model="data.contact.email" readonly>
			</div>
			<div class="form-group col-sm-12 col-md-3">
				<label for="firstname">First Name</label>
				<input type="text" class="form-control" id="firstname" placeholder="Enter first name" ng-model="data.contact.firstname" required>
			</div>
			<div class="form-group col-sm-12 col-md-3">
				<label for="lastname">Last Name</label>
				<input type="text" class="form-control" id="lastname" placeholder="Enter last name" ng-model="data.contact.lastname" required>
			</div>
			<div class="form-group col-sm-12 col-md-3">
				<label for="phone">Phone</label>
				<input type="tel" class="form-control" id="phone" placeholder="Enter phone" ng-model="data.contact.phone" required>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<a href="tel:{{data.contact.phone}}"><i class="fa fa-3x fa-phone-square green"></i></a>
				<a href="mailto:{{data.contact.email}}"><i class="fa fa-3x fa-envelope-square green"></i></a>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-xs-12">
				<button type="submit" class="btn btn-primary" ng-click="updateContact(contactForm)">Update</button>
				<button type="button" class="btn btn-danger" ng-click="deleteContact()">Delete</button>
				<button type="button" class="btn btn-default" ng-click="back()">Back</button>
			</div>
		</div>
	</fieldset>
</form>